.form {
    width: 300px; /* 원하는 가로 크기 */
    height: 200px; /* 원하는 세로 크기 */
    background-color: #f0f0f0; /* 배경색 */
    padding: 20px; /* 내부 여백 */
    margin: 20px; /* 바깥 여백 */
  }

.center-container {
    
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px; /* 오른쪽으로 20px의 패딩 추가, 필요에 따라 조절하세요 */
  padding-right: 850px; /* 오른쪽으로 20px의 패딩 추가, 필요에 따라 조절하세요 */
  }

  .center-container2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px; /* 오른쪽으로 20px의 패딩 추가, 필요에 따라 조절하세요 */
    padding-right: 850px; /* 오른쪽으로 20px의 패딩 추가, 필요에 따라 조절하세요 */
    }